.img__header{
    background: url("marble.jpg") no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
@font-face{
    font-family:Horizon;
    src: url("../fonts/Horizon-Regular.ttf");

}
.title{
    margin: 0;
    font-family: Horizon;
    font-size: 190px !important;
}

@media (max-width: 507px) {
    .img__header{
        background: url("marble.jpg");
    }
}

@media (max-width: 384px) and (min-width: 320px){
    .title{
        margin: 0;
        font-family: Horizon;
        font-size: 70px !important;
    }
}
