.subtitle{
    font-family: Roboto_Thin;
    margin-top: 30px;
}
.subtitle__header{
    font-family: Roboto_Thin;
}
@font-face{
    font-family:Roboto_Thin;
    src: url("../fonts/roboto-thin_[allfont.ru].ttf");

}

.clr__background{
    background: #888888;

}
.window__background{
    background: #343a40;
}

.scroll__pg{
    width: 32em;
    height: 35em;
    overflow: scroll;
}